.image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.product {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 600;
}

.productPrice {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
}

.textHeader {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 12px;
}

.productDescriptionInput {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
  font-size: large;
}

.productNameInput {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: large;
}

.productPriceInput {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: large;
  margin-top: 10px;
}

.createText {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

.submit {
  padding: 10px;
  margin-top: 10px;
  background-color: burlywood;
  border: 1px solid;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
  margin-bottom: 58px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
  margin-top: 48px;
  margin-left: 22px;
}

.list a {
  color: black;
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}

.authText {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.authText button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border: 1px solid;
  border-radius: 6px;
  background-color: aliceblue;
}

.authText button:hover {
  background-color: azure;
}

.containerSign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.formSign {
  display: block;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.formSign input .formSign select {
  padding: 35px;
  width: 100%;
  outline: none;
}

.formSign label {
  margin-bottom: 5px;
  display: block;
  font-size: large;
}

.formSign button {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.home h1 {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.textRef h1 {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 130px;
}
